<div class="container">
  <div class="card mb-4">
    <div class="card-content p-4">
      <div class="media">
        <div class="media-content">
          <p class="title is-4" id="blog-title" data-blog-id="{{id}}">{{title}}</p>
          <p class="subtitle is-6" id="username">{{User.username}}</p>
          <br>
          <p id="time">{{date_created}}</p>
          <br>
        </div>
      </div>
      <div class="content">
        {{body}}
      </div>
    </div>
    <footer class="card-footer">
      {{#if isBlogOwner}}
        <a href="/blogposts/edit/{{id}}" class="card-footer-item" id="edit-blog">Edit</a>
        <button class="button is-danger is-small comment-delete is-hidden" id="delete-blog">Delete</a>
      {{/if}}
    </footer>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Comments</p>
      </div>
    </div>
    <div class="content">
      {{#each Blogcomments}}
        <div class="card mb-4">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{User.username}}</p>
                {{#if isCommentOwner}}
                  <div class="buttons">
                    <button class="button is-primary is-small comment-edit" data-comment-id="{{id}}">Edit</button>
                    <button class="button is-danger is-small comment-delete is-hidden" id='hide' data-comment-id="{{id}}" data-comment-user="{{User.id}}">Delete</button>
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="content">
              {{comment_body}}
            </div>
            <br>
            <p id="time">{{date_created}}</p>
          </div>
        </div>
      {{/each}}
      {{#if logged_in}}
        <div class="card-content">
          <form class="comment-form" id="user-id" data-user-id="{{User.id}}">
            <div class="field">
              <label class="label" for="new-comment">Leave a comment:</label>
              <div class="control">
                <input class="textarea" type="text" id="new-comment" />
              </div>
            </div>
            <div class="field">
              <div class="control has-text-centered">
                <button class="button is-primary p-4 is-size-6 is-fullwidth" type="submit">Post</button>
              </div>
            </div>
          </form>
        </div>
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/blogPost.js"></script>