<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{title}}</p>
        <p class="subtitle is-6">{{User.username}}</p>
      </div>
    </div>

    <div class="content">
      {{body}}
      <br>
      {{date_created}}
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Comments</p>
      </div>
    </div>
    <div class="content">
      {{#each Blogcomments}}
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{User.username}}</p>
              </div>
            </div>
            <div class="content">
              {{comment_body}}
            </div>
          </div>
        </div>
      {{/each}}
      {{!-- if logged in statement to delete/edit blogpost if it belongs to user --}}
      {{#if logged_in}}
        {{#if isOwner}}
          <a href="/blogposts/{{id}}/edit" class="button is-primary">Edit</a>
          <a href="/blogposts/{{id}}/delete" class="button is-danger">Delete</a>
        {{/if}}
      {{/if}}
      {{!-- if logged in statement to add comment --}}
      {{#if logged_in}}
        <form action="/blogposts/{{id}}/addcomment" method="POST">
          <div class="field">
            <label class="label">Add a comment</label>
            <div class="control">
              <textarea class="textarea" name="comment_body" placeholder="Add a comment"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
        </form>
      {{/if}}
    </div>
  </div>
</div>