{{!-- going into one blogpost being able to comment and delete comments card takes up more space --}}
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{blogPosts.title}}</p>
        <p class="subtitle is-6">{{User.username}}</p>
      </div>
    </div>

    <div class="content">
      {{blogPosts.body}}
      <br>
      <time datetime="2016-1-1">{{date}}</time>
    </div>
  </div>
</div>
    {{!-- comment section --}}
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Comments</p>
          </div>
        </div>
        <div class="content">
          {{#each comments}}
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{User.username}}</p>
                </div>
              </div>
              <div class="content">
                {{comment_body}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
